body,
html {
    height: 100%;
    font-family: 'Crimson Text', serif;
    color: #1c1c1c;
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    font-weight: 700;
    font-size: 60px;
}

h4,
p {
    text-align: center;
    font-size: 1.5em;
}

#heading {
    padding-top: 20px;
    text-align: center;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.upload {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

input[type=file] {
    margin: 15px;
}

.col-lg-6 {
    height: 100px;
}

.col-lg-12 {
    margin: 20px;
}

hr.stats {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    opacity: 0.4;
}
