body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Crimson Text', serif;
    color: #1c1c1c;
}


.dad {
    background: url('http://i.imgur.com/tMD6ixo.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

h3 {
    text-align: center;
}

.result {
    padding: 5%;
    width: 60%;
    text-align: center;
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#words,
#letters,
#sentences {
    /* color: #b22020; */
    color: #27702d;
    font-weight: bolder;
    padding-left: 30px;
}

.buttontrynow {
    width: 150px;
}

hr.stats {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    opacity: 0.4;
}

#green {
    color: #27702d;
}

#red {
    color: #b22020;
}

div.chart {
    height: 450px;
    width: 650px;
}

#time .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispedges;
}

#time .x.axis path {
    display: true;
}

#time .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispedges;
}

#time .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#time .line:hover {
    stroke: green;
}
